* {
    box-sizing: border-box
}

body{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    justify-content: center;
}

input{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}